@media only screen and (max-width: 1200px) {
#sidebar {
	padding: 30vh 75px;
	left: -430px;
}
.toggle-btn {
	left: 476px;
	top:32px;
	padding: 10px;
}
.toggle-btn span {
	display: block;
	width: 45px;
	height: 6px;
	margin:7px 0;
}

.title h1 {
	font-size:2.8em;
}
.list_menu a {
	font-size: 2em;
}

@media only screen and (max-width: 992px) {
#sidebar {
	padding: 20vh 60px;
	left: -370px;
}
.toggle-btn {
	left: 400px;
	top:32px;
	padding: 10px;
}
.toggle-btn span {
	display: block;
	width: 40px;
	height: 6px;
	margin:5px 0;
}
.title h1 {
	font-size:2.5em;
}
.list_menu a {
	font-size: 1.5em;
}

}
/*768-480*/
@media only screen and (max-width: 768px) {
.toggle-btn span {
	display: block;
	width: 35px;
	height: 5px;
	margin:5px 0;
}
}
/*479-420*/
@media only screen and (max-width: 480px) {
.title h1 {
	font-size:2em;
}
.list_menu a {
	font-size: 1.4em;
}
#sidebar {
	padding: 20vh 60px;
	left: -320px;
}
.toggle-btn {
	left: 350px;
	top:32px;
	padding: 10px;
}
}
@media only screen and (max-width: 420px) {
.title h1 {
	font-size:1.8em;
}
.list_menu a {
	font-size: 1.2em;
}
#sidebar {
	padding: 20vh 30px;
	left: -240px;
}
.toggle-btn {
	left: 260px;
	top:32px;
	padding: 8px;
}
.toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	margin:4px 0;
}
}